body {
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    color: balck;
    background-color: #ADD8E6
}
h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
    background-color: #3f647f;
    margin: 5px
}

/************************************
/  navigation
*************************************/

ul.nav-bar {
    font-size: 20px;
    font-weight: bold;
    background-color: #0094FF;
    margin: 5px;
    width: 160px
    /*height: 100px;*/
}
div.nav-box {
    display: inline-block;
    float: inherit;
    margin-top: 5px;
    margin-bottom: 5px
}
li.nav-singlemenu {
    margin-top: 5px;
    color: white
}
li.nav-singlemenu:hover {
    color: black
}

a{
  color: red;
}
a:link {
    text-decoration: none;
    color: red;
}


/************************************
/  profile container
*************************************/

div.profile-container {
    margin: 10px 0 0 10px;
    overflow: auto
}
div.profile-image {
    float: left;
}
div.profile-image img {
    display: block;
    width: 200px;
    height: 200px
}
div.profile-content {
    margin-left: 220px;
    height: 200px
}

/************************************
/  friends container
*************************************/

div.friends-container {
    /*margin: 10px 0 0 10px;*/
    margin: 10px 0 0 0;
    width: 500px;
    border: 1px solid black;
    overflow: auto
}
div.friends-image {
    float: left;
}
div.friends-image img {
    display: block;
    width: 100px
}
div.friends-title {
    font-weight: bold;
    font-size: 100%;
    padding: 9px;
    background: #ccc
}
div.friends-content {
    margin-left: 120px;
    height: 110px
}

/************************************
/  footer styles
*************************************/

footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}
